@import "tailwindcss";

:root {

  --background: #F9FAFB;

  --foreground: #1F2937;

  --primary: #2E7D32;

  --secondary: #4CAF50;

  --button: #16A34A;

  --button-hover: #15803D;

  --border: #E5E7EB;

}

html{
  scroll-behavior:smooth;
}

body{

  background:var(--background);

  color:var(--foreground);

  font-family:var(--font-rubik);

}